.DS_Store
.idea/
__pycache__
./task/__pycache__
./utils/__pycache__
./models/__pycache__
nrrd_files.zip
venv
nninteractive

digitaltwins
configs.ini
requirements_dtp.txt
data/datasets/*
data/duke_test_data
data/duke

configs_old.ini
configs_public_demo.ini